.App {
  text-align: center;
}
.mt {
  margin-top: 20px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: bolder;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-info ol {
  list-style-type: none;
}
